// CSS3 动画篇

.screen {
    height: 400px;
    font-family: zhanku;
    font-size: 300px;
    font-weight: bold;
    color: #fff;
    position: relative;
    overflow: hidden;
    transition: all 1s;

    &:hover {
        opacity: .5;

    }

    &.screen1 {
        background-color: aqua;
    }

    &.screen2 {
        background-color: blueviolet;
    }

    &.screen3 {
        background-color: chartreuse;
    }

    &.screen4 {
        background-color: olive;
    }

    

    span {
        position: absolute;
        bottom: -400px;
        line-height: 400px;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);

        &.transition {
            transition: all .5s;
        }

        &.on {
            bottom: 0;
        }
    }

}