@font-face {
    font-family: zhanku;
    src: url(../fonts/zhanku.ttf)
}

body {
    // font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

section {
    ul {

        font-size: 40px;
        list-style: none;

        li {
            position: relative;
            padding-left: 50px;
        }

        li::before {
            display: inline-block;
            content: "";
            font-size: 30px;
            font-weight: 900;
            line-height: 40px;
            text-align: center;
            color: white;
            width: 40px;
            height: 40px;
            background-color: #144396;
            border-radius: 20px;
            overflow: hidden;
            position: absolute;
            left: 0;
            // top: 0;
            top: 50%;
            transform: translateY(-50%);

            font-family: zhanku;
        }

        li:nth-child(1) {
            &::before {
                content: "1";
            }
        }

        li:nth-child(2) {
            &::before {
                content: "2";
            }
        }

        li:nth-child(3) {
            &::before {
                content: "3";
            }
        }

        li:nth-child(4) {
            &::before {
                content: "4";
            }
        }

        li:nth-child(5) {
            &::before {
                content: "5";
            }
        }

        li:nth-child(6) {
            &::before {
                content: "6";
            }
        }

        li:nth-child(7) {
            &::before {
                content: "7";
            }
        }

        li:nth-child(8) {
            &::before {
                content: "8";
            }
        }

        li:nth-child(9) {
            &::before {
                content: "9";
            }
        }

        li:nth-child(10) {
            &::before {
                content: "10";
            }
        }
    }

    &.default {}

    &.windows {
        ul {
            li:nth-child(1) {
                font-family: "SimSun", zhanku;
            }

            li:nth-child(2) {
                font-family: "Microsoft Yahei", zhanku;
            }

            li:nth-child(3) {
                font-family: "Arial", zhanku;
            }

            li:nth-child(4) {
                font-family: "Tahoma", zhanku;
            }

            li:nth-child(5) {
                font-family: "Verdana", zhanku;
            }
        }
    }

    &.mac {
        li:nth-child(1) {
            font-family: "STHeiti", zhanku;
        }

        li:nth-child(2) {
            font-family: "STXihei", zhanku;
        }

        li:nth-child(3) {
            font-family: "Heiti SC", zhanku;
        }

        li:nth-child(4) {
            font-family: "Hiragino Sans GB", zhanku;
        }

        li:nth-child(5) {
            font-family: "PingFang SC", zhanku;
        }

        li:nth-child(6) {
            font-family: "Times New Roman", zhanku;
        }

        li:nth-child(7) {
            font-family: "Helvetica", zhanku;
        }

        li:nth-child(8) {
            font-family: "Helvetica Neue", zhanku;
        }

        li:nth-child(9) {
            font-family: "San Francisco", zhanku;
        }
    }

    &.linux {
        li:nth-child(1) {
            font-family: "WenQuanYi Micro Hei", zhanku;
        }
    }

    &.suggest {
        pre {
            border-radius: 4px;
            padding: 10px;
            max-height: 300px;
            overflow: auto;
            background-color: #f6f6f6;
            color: #333;
            font-size: 15px;
            font-weight: 900;
            word-wrap: break-word;
            word-break: break-all;

            code {
                overflow-wrap: normal;
            }
        }
    }
}